<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                <Pattern>%level %date [%thread] [%X{rid}] [%file:%line] %msg%n</Pattern>
            </pattern>
        </layout>
    </appender>

    <appender name="ERRORLOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder class="in.wynk.logging.WynkErrorEncoder"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH:-/tmp}/logs/sms/error/%d{yyyy-MM-dd,
                aux}/sms-error.${HOSTNAME}.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxHistory>3</maxHistory>
            <maxFileSize>500MB</maxFileSize>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC_ERRORLOG" queueSize="10000" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ERRORLOG"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%level %date [%thread] [%X{rid}] [%file:%line] %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH:-/tmp}/logs/sms/app/%d{yyyy-MM-dd,
                aux}/sms.${HOSTNAME}.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxHistory>3</maxHistory>
            <maxFileSize>500MB</maxFileSize>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC_FILE" queueSize="10000" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
        <includeCallerData>true</includeCallerData>
    </appender>


    <!-- logstash logs-->
    <appender name="ANALYTIC_LOG_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH:-/tmp}/logs/sms/logstash/day=%d{yyyy-MM-dd,
                aux}/sms-logstashLogs.${HOSTNAME}.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxHistory>3</maxHistory>
            <maxFileSize>500MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC_ANALYTIC_LOG_FILE" queueSize="10000" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ANALYTIC_LOG_FILE"/>
        <includeCallerData>true</includeCallerData>
    </appender>
    
    <logger name="sendVoiceSms" additivity="false">
        <level value="info"/>
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="sendSms" additivity="false">
        <level value="info"/>
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="consumePromotionalMessage" additivity="false">
        <level value="info"/>
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="consumeNotificationMessage" additivity="false">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="smsNotificationEvent" additivity="false">
        <level value="info"/>
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="consumeMessage" additivity="false">
        <level value="info"/>
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="sendSmsAirtel" additivity="false" level="info">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="sendSmsAirtelIQ" additivity="false" level="info">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="sendSmsLobby" additivity="false" level="info">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="ASYNC_ERRORLOG"/>
        </root>
        <logger name="in.wynk" additivity="false" level="DEBUG">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="ASYNC_ERRORLOG"/>
        </logger>
    </springProfile>

    <springProfile name="dev,preprod">
        <root level="INFO">
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="ASYNC_ERRORLOG"/>
        </root>
        <logger name="in.wynk" additivity="false" level="DEBUG">
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="ASYNC_ERRORLOG"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="ASYNC_ERRORLOG"/>
        </root>
    </springProfile>

</configuration>